<ng-template #modalTools let-c="close">
    <div class="modal-header">
        <div class="header-top">
            <img src="/content/icons/close.png" alt="Cerrar" (click)="c('Cross click')">
        </div>
        <div class="header-logo">
            <div class="header-line"></div>
            <img src="/content/logo.svg" class="logo" alt="logo">
            <div class="header-line"></div>
        </div>
    </div>
    <div class="modal-body">
        <h1 class="bg-3 dark">Caja de herramientas</h1>
        <div class="toolbox-content bg-3 light">
            <div class="toolbox-column">
                <h2>Formatos<br />para descargar</h2>
                <!-- <a *ngFor = "let item of modalElements.first"  href="{{item.url}}" class="btn-modal color-3 dark">{{item.title}}</a> -->
            </div>

            <div class="toolbox-column">
                <h2>Formatos<br />para descargar</h2>
                <!-- <a *ngFor = "let item of modalElements.second"  href="{{item.url}}" class="btn-modal color-3 dark">{{item.title}}</a> -->
            </div>
        </div>

        <div class="toolbox-footer bg-3 light">
            <h2 class="font-brand">Vinculación e integración</h2>
            <div><img src="/content/icons/tool.svg" alt="" class="icon third"></div>
        </div>
    </div>
</ng-template>